<slide class="title-slide segue nobackground">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  {{# page.logo }}
  <!-- <aside class="gdbar">
  <img src="{{page.url.assets}}/img/{{{ page.logo }}}">
</aside> -->
<div style="float:right; width=35%; margin-top:3%">
  <img src="{{page.url.assets}}/img/{{{ page.logo }}}" />
  <br /><br /><br />
</div>
{{/ page.logo }}
<hgroup class="auto-fadein" style="width:75%;">
  <p style="font-size: 3.5em; color:#FD9544; margin-top:15%; margin-bottom: 5%; font-family: 'Varela Round', 'Helvetica', Sans-serif; text-shadow: 1px 1px #fff, 1px 2px #ccc;">blogR<br />
    <p style="font-size: 1.5em; margin-top:5%">Pop data analysis and R for the web</p></p>
    <p><b>{{ page.author }}</b> (<a href="https://twitter.com/benjaminlmoore" target="_blank">@benjaminlmoore</a>)<br/>
      Edinburgh PsychStats R-users, November 13<sup>th</sup> 2014
      <p style="text-align:right; font-size:.9rem;">
        <br />
        Slides online at: <a href="https://blm.io/talks/blogr">blm.io/talks/blogr</a>
      </p>
    </p>
  </hgroup>
  <article>
    <aside class="note">
      <section>
        <p>
          <b>Point of this talk:</b> try to convince you that with the R skills you have + statistics and good data visualisation, you have a powerful toolkit not just for research but also answering everyday questions that <em>you're</em> interested in. If you're interested chances are others will be too, you can share your results online and this could lead back to maybe an off-beat paper, or publicity, online articles and more.
        </p>
      </section>
    </aside>
  </article>
</slide>
