<slide class="title-slide segue nobackground">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  {{# page.logo }}
  <!-- <aside class="gdbar">
    <img src="{{page.url.assets}}/img/{{{ page.logo }}}">
  </aside> -->
  <div style="float:right; width=25%; margin-top:3%">
    <img src="{{page.url.assets}}/img/{{{ page.logo }}}" />
    <br /><br /><br />
  </div>
  {{/ page.logo }}
  <hgroup class="auto-fadein">
    <!--- former color 606060 -->
    <h1 style="large; color:#7473a9; margin-top:5%; font-family: 'Varela Round', 'Helvetica', Sans-serif">The ENCODE-ing of higher <br />order chromatin structure</h1>
    <h2>{{ page.subtitle }}</h2>
    <p><b>{{ page.author }}</b><br/>
    BSA section meeting, September 16<sup>th</sup> 2014
    </p>
    <p style="text-align:right; font-size:.8rem;">
      Slides online at: <a href="http://blm.io/bsa">blm.io/bsa</a>
    </p>
  </hgroup>
  <article></article>
</slide>
